@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La ducasse de Mons ou Doudou est une fête locale basée sur des traditions ancestrales qui a lieu tous les ans, le week-end de la Trinité, à Mons en Belgique, ville située dans la province de Hainaut (Région wallonne). On l'appelle souvent le Doudou, d'après le nom d'un air traditionnel que l'on joue durant les festivités2</p>
<p>Depuis 2005, la ducasse de Mons est reconnue comme l'un des chefs-d'œuvre du patrimoine oral et immatériel de l'humanité par l'UNESCO (Liste des Géants et dragons processionnels de Belgique et de France) et compte parmi les chefs-d’œuvre du Patrimoine oral et immatériel de la Fédération Wallonie-Bruxelles.</p>
<p>HISTOIRE</p>
<p>
    L'origine de la fête remonte au Moyen Âge. Ses origines sont difficiles à fixer avec exactitude. Elle est attestée depuis le xiiie siècle4(la première mention connue date de 1248). Il s'agit d'une procession de ducasse (dédicace) avec un « tour » en l'honneur de la patronne de la ville.

    Une tradition tenace mais erronée, en fait une procession de peste. De fait, le 7 octobre 1349, la région subissant une épidémie de peste, la fameuse peste noire, les autorités organisèrent une procession des reliques de sainte Waudru, patronne de la ville et de la collégiale montoise : elles furent amenées dans un char jusqu'aux bruyères de Casteau, à l'emplacement actuel du SHAPE, et furent réunies avec les reliques de saint Vincent de Soignies, époux de Waudru. L'épidémie cessa. Le miracle fut attribué à sainte Waudru et on décida de répéter la procession tous les ans.

    En 1352, sa date est définitivement fixée au dimanche de la Trinité. Les compagnies bourgeoises firent le « Lumechon » de 1356 sur la Grand-Place devant le roi Jean le Bon5. La Confrérie « Dieu et Monseigneur Saint-Georges » apparaît en 1376, sous l'impulsion de Guillaume III de Hainaut. Ses statuts sont fixés en 1380. À partir de cette date, cette confrérie participe au cortège. Elle est constituée de membres de la noblesse, du mayeur et des échevins. En 1440, elle inclut à la procession un mystère, reconstitution du combat de saint Georges contre le dragon6. La popularité de saint Georges dans la région est due à l'interférence de l'histoire du saint avec une légende locale, celle de Gilles de Chin. On prétend en effet que celui-ci tua un monstre dans les marais de Wasmes au xie siècle. Le dragon serait en fait un crocodile de Libye ou d'Égypte tué par le chevalier lors de la première croisade.


    Gravure du xixe siècle montrant le combat de saint Georges et du dragon
    Les comptes de 1490 des chanoinesses du chapitre de Sainte-Waudru mentionnent une aide apportée à la confrérie pour des frais se rapportant à la représentation du mystère de la vie de saint Georges. Un dragon figure dans la procession de la Trinité mais est probablement légèrement antérieur[réf. nécessaire]. En 1597, le monstre est animé par un seul porteur qui agite sa queue. Une pucelle conduit le monstre avec collet et poignée. Celle-ci disparaît au cours du xviiie siècle. Les « Chins-chins », sortes de chevaux-jupons, vêtus d'une étoffe d'ameublement voient leur nombre varier de trois à huit. En 1704, des diables prennent part au combat. Ils sont trois en 1713. Deux hommes sauvages sont signalés en 1723. Douze ans plus tard, la queue du monstre est garnie des crins de cheval qui sont aujourd'hui l'objet de la convoitise de la foule comme porte-bonheur. Le terme « carmesse » se substitue à celui de « procession ».

    En 1786, le combat est supprimé à la suite de l'édit des kermesses promulgué par l'empereur Joseph II d'Autriche7. Autre vicissitude, les révolutionnaires français suppriment le jeu en 1794. Le Concordat de 1801 rétablit la procession et le combat. Celui-ci sera exclu de la procession en 1819 à la suite des mesuresN 1 prises par le roi Guillaume Ier des Pays-Bas8. Les acteurs attendent la fin de la procession au chevet de la collégiale et effectuent le combat sur la Grand-Place.

    La tradition se maintient durant le xixe siècle et le xxe siècle avec plus ou moins de bonheur. C'est vers 1930, sous l'impulsion du chanoine Edmond Puissant, que la procession reprend de sa vigueur, grâce à la création de nouveaux groupes et à un renouvellement des costumes. Entre 1973 et les années 2000, le jeu est revu et structuré dans le sens de la diégèse par Georges Raepers, avocat près le barreau de Mons.

    En 1953, plusieurs étudiants baptisés de la F.P.Ms (Faculté Polytechnique de Mons) dérobent le dragon dans la nuit qui précède le jour du combat. Le combat fut dès lors retardé de quelques heures mais eu tout de même lieu. Quelques années plus tard, ces mêmes étudiants ont présenté leurs excuses en s'agenouillant devant l'hôtel de ville.
</p>
<p>DEROULEMENT DES FESTIVITES</p>
<p>Vendredi</p>
<p>Animation:"Le doudou s'ouvre partout..." Grand-Place</p>
<p>21h Grand concert gratuit organisé par Sud Radio Grand-Place</p>
<p>Samedi</p>
<p>14h30 Cortège des personnages du Lumeçon accompagné de l'autorité communale de l'hôtel de Ville vers la Collégiale Sainte-Waudru</p>
<p>14h45 Sortie du dragon de sa caverne au bas de la Rampe Sainte-Waudru</p>
<p>14h50 Remise de la couronne de roses par l'autorité communale au doyen et pose de la couronne de roses sur le chef de sainte-Waudru à la collégiale Ste Waudru</p>
<p>16h40 Cortège en vue de confier au collège communal la Châsse et les lances (attributs célestes de Saint-Georges) de la Collégiale Sainte-Waudru vers l’église Sainte-Élisabeth</p>
<p>16h50 Cortège en vue de permettre que les rites introductifs du Lumeçon se déroulent sous l'égide de saint Georges  Hôtel de Ville vers l'église Sainte Elisabeth</p>
<p>17h Cérémonie de mise à disposition de la châsse et des lances de saint Georges permettant ainsi que les rites introductifs du Lumeçon se déroulent sous l'égide de saint Georges à l'église Ste Elisabeth</p>
<p>17h20 Cortège afin d'amener la châsse et les lances de saint Georges en vue du cortège du "Magistrat" et de la "Confrérie de saint Georges" Eglise Ste Elisabeth vers Hôtel de Ville</p>
<p>17h35 Cortège du Magistrat et de la Confrérie de saint Georges de Hôtel de ville vers la collégiale Sainte-Waudru</p>
<p>18h00 Cortège des personnages du Lumeçon guidé symboliquement par le président de la Procession de la Collégiale Sainte-Waudru vers l’hôtel de ville</p>
<p>18h15 «Intronisation» de Saint-Georges et«Répétition» du Lumeçon dans la Cour d’honneur de l’hôtel de ville</p>
<img src="~/images/hotelville.jpg" alt="Doudou Mons" />
<p>18h45 Installation de la châsse de saint Georges dans l'enceinte de l'hôtel de ville (pour la nuit du samedi au dimanche de la Trinité)</p>
<p>19h00 Cortège de retour à la Collégiale conduit symboliquement par l’échevin des Fêtes afin d’y laisser le Dragon pour la nuit de l'Hôtel de ville de Mons vers la collégiale Sainte-Waudru</p>
<p>20h Descente de la châsse de Ste Waudru  à la Collégiale Sainte-Waudru</p>
<img src="~/images/chasse.jpg" alt="Doudou Mons" />
<p>22h00 Retraite aux Flambeaux départ  Bas de la rue de Nimy vers la Place Léopold et retour Gd Place.</p>
<iframe width="923" height="500" src="https://www.youtube.com/embed/8MACBY-uF68" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Dimanche</p>
<p>8h20 Cortège de saint Georges de l'Hôtel de ville vers la collégiale Sainte-Waudru</p>
<p>8h45 Pose de la châsse de sainte Waudru sur le Car d’Or et sortie du Car d’Or de la Collégiale Sainte-Waudru et sortie du Dragon de sa « caverne » au bas de la Rampe Sainte-Waudru</p>
<p>9h00 Cortège des personnages du Lumeçon afin de transférer le Dragon de sa "caverne" vers le centre de la cité contemporaine de la Collégiale Sainte-Waudru vers Hôtel de Ville. </p>
<p>9h30 Procession du Car d'Or (cortège dans le centre ville de et vers la collégiale Ste Waudru.</p>
<p>12h (midi): remontée du Car d'Or  Rampe Sainte Waudru (durée 20 secondes)</p>
<iframe width="1000" height="500" src="https://www.youtube.com/embed/_na4WjFNwoQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>12h10 Rentrée du Car d'Or dans la collégiale sainte-Waudru (Rampe Ste Waudru)</p>
<p>12h25 Descente de la rue des Clercs</p>
<iframe width="1000" height="500"src="https://www.youtube.com/embed/VHfGKr2gu88" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>12h30 Combat dit «Lumeçon» Grand-Place (jusque +- 13h15)</p>
<img src="~/images/lumeçon.jpg" alt="Doudou Mons" />
<p>Lundi</p>
<p>Journée Braderie monstre en ville!</p>
<p>20h-minuit: Doudou Sound party Grand-Place de Mons</p>
<iframe width="923" height="500" src="https://www.youtube.com/embed/-obqOG2_IUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Mardi</p>
<p>Braderie monstre du doudou en ville.</p>
<p>13h00 Grand concours de dessins d’enfants « Le Doudou en couleurs »  Grand-Place</p>
<p>20h00 Animation musicale au Marché-aux-Herbes</p>
<p>20h30 Spectacle de clôture sur la Grand-Place avec les fanfares et musiques militaires</p>
<p>22h45 Feu d’artifice sur la Grand-Place</p>
<img src="~/images/feu.jpg" alt="Doudou Mons" />
<p>Samedi</p>
<p>17h45 Départ du Cortège des petits acteurs depuis la rampe Sainte-Waudru jusque dans la Cour d'honneur de l'Hôtel de ville (via la rue des Clercs et la Grand-Place) </p>
<p>18h00 «Répétition» du Petit Lumeçon dans la Cour d’Honneur de l’Hôtel de Ville jusque 18h30</p>
<p>Dimanche</p>
<p>9h20 Distribution des t-shirts de la corde du petit Lumeçon  Place du Parc à Mons</p>
<p>12h00 Ouverture des zones de la corde sur la Grand-Place</p>
<p>12h25 Départ du cortège des personnages du petit Lumeçon depuis l'arrière de l'Hôtel de Ville vers la Grand-Place, via la rue d’Enghien.</p>
<p>12h30 Petit Lumeçon sur la Grand-Place de Mons.</p>
<p>14h00 Cortège de retour de la châsse et des lances (attributs célestes) de Saint-Georges à l’église Sainte-Elisabeth;de retour des Dragons dans leur" caverne"à la collégiale Sainte-Waudru; et de retour des armes et du casque de Saint-Georges à l'hôtel de villle (musée du Doudou).</p>
<p>17h45 Remontée de la chasse à la collégiale Sainte Waudru (précédée de la messe à 17h)</p>
<img src="~/images/invlacopou1an.png" alt="Doudou Mons" />