@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Musée du DOUDOU<br />
    Jardin du Mayeur<br />
    Grand'Place<br />
    7000 Mons<br />
    <abbr title="Phone">Phone:</abbr>
    0032(0)65.33.55.80
</address>

<address>
    <a href="https://www.museedudoudou.mons.be">Musée du DOUDOU</a>
</address>
<img src="~/images/musée.jpg" alt="Doudou Mons" />
<img src="~/images/jm.jpg" alt="Doudou Mons" />
