@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ducasse de Mons</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the world of Mons folkore</h2>
        <iframe width="1519" height="623" src="https://www.youtube.com/embed/eLFu1sr_-TQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
</div>